{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}



{% block body %}
<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 my-6">
    <h1 class="text-2xl font-bold text-gray-900 mb-6 text-center">Ajouter un produit</h1>

    <div class="bg-white border shadow rounded-xl px-8 pt-6 pb-8 mb-4">
        {{ include('product/_form.html.twig') }}
    </div>

    <div class="text-center">
        <a href="{{ path('app_homepage') }}" class="text-lime-800 hover:text-lime-700 transition duration-150 ease-in-out">Retour à la liste</a>
    </div>
</div>
{% endblock %}
